footer {
    padding-top: 3rem;
  }
  
  footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  footer .container h3 {
    color:#000;
    font-size: 35px;
    font-weight: 300;
    font-family: 'The Nautigal', cursive;
  }
  
  footer .container ul {
    display: flex;
    gap: 3rem;
  }
  
  footer .container ul a {
    color: #000;
    transition: var(--transition);
  }
  
  footer .container ul a:hover {
    color: #000;
  }
  
  footer .container .socials {
    display: flex;
    gap: 2rem;
  }
  
  footer .container .socials a {
    background: #f4f4f4;
    color: #000;
    padding: 0.3rem;
    border-radius: 50%;
    transition: var(--transition);
  }
  
  footer .container .socials a:hover {
    background:#000;
    color: #fff;
  }
  
  footer .copyright {
    background: #000;
    color: #fff;
    text-align: center;
    margin-top: 3rem;
    padding: 2rem 0;
    font-size: 0.8rem;
  }
  