.container#blur.active {
    filter: blur(10px);
    pointer-events: none;
    -webkit-user-select: none;
  }
  
  #popup {
    position: fixed;
    display: grid;
    place-items: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }
  
  #popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
  }
  
  #popup h2 {
    font-size: 1.9rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  #popup .social-icon {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
  }
  
  #popup .social-icon a {
    text-align: center;
    width: 3rem;
    height: 3rem;
    background: #f4f4f4;
    color: #000;
    padding: 0.3rem;
    border-radius: 50%;
    transition: var(--transition);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }
  
  #popup .social-icon a i {
    font-size: 1.5rem;
    text-align: center;
  }
  
  #popup .social-icon a:hover {
    background: #000;
    color: #fff;
    transform: translateY(-10px);
  }
  
  #popup .btn {
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 15px;
    color: #141415;
    background: #fff;
    display: inline-block;
  
    transition: var(--transition);
  }
  
  #popup .btn:hover {
    background: #c4c4c4;
    color: #000;
  }
  
  #popup .btn-primary {
    color: #fff;
    background: #000;
  }
  
  section.home {
    display: grid;
    place-items: center;
    position: relative;
    top: 2rem;
    padding-bottom: 14rem;
  }
  
  section.home .container {
    display: grid;
    grid-template-columns: 5rem auto 26rem;
    gap: 2rem;
  }
  
  section.home .socials {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 5rem;
  }
  
  section.home .socials a {
    font-size: 1.1rem;
    background: #f4f4f4;
    color: #000;
    padding: 0.3rem;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
  }
  
  section.home .socials a:hover {
    background: #000;
    color: #fff;
  }
  
  section.home .home-content h1 {
    margin: 0;
    text-align: left;
  }
  
  section.home .home-content h3 {
    margin: 2.4rem 0 1rem;
  }
  
  section.home .home-content p {
    width: 35rem;
  }
  
  section.home .profile-area {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  section.home .profile-area .outer-circle {
    width: 26rem;
    height: 26rem;
    border: 1px solid #f4f4f4;
    border-radius: 50%;
    position: relative;
    animation: move 30s linear infinite;
  }
  
  @keyframes move {
    to {
      transform: rotate(360deg);
    }
  }
  
  section.home .profile-area .outer-circle span {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: absolute;
    display: block;
    background: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1rem #f9bcb6;
    font-size: 1em;
  }
  
  section.home .profile-area .outer-circle span:nth-child(1) {
    left: calc(50% - 2rem);
    top: -2rem;
  }
  
  section.home .profile-area .outer-circle span:nth-child(2) {
    top: calc(50% - 2rem);
    right: -2rem;
  }
  
  section.home .profile-area .outer-circle span:nth-child(3) {
    top: calc(50% - 2rem);
    left: -2rem;
  }
  
  section.home .profile-area .outer-circle span:nth-child(4) {
    left: calc(50% - 2rem);
    bottom: -2rem;
  }
  
  section.home .profile-area .inner-circle {
    position: absolute;
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    overflow: hidden;
  }
  
  section.home .home-content a {
    font-size: 0.86rem;
  }