/*media query*/
@media screen and (max-width: 1000px) {
  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.68rem;
  }

  .container {
    width: 90%;
  }

  section {
    padding: 5rem 0 3.5rem;
  }

  /*navbar*/
  .navbar {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  }

  nav h3 {
    margin-left: 1rem;
  }

  .navbar .container {
    width: 100%;
  }

  #menubar {
    display: inline-block;
  }

  .navbar .menu {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: var(--transition);
  }

  .navbar .menu.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .navbar .menu li a {
    display: block;

    font-size: 2rem;
  }

  #popup {
    width: 400px;
    border-radius: 10px;
  }

  /*home section*/
  section.home {
    margin-top: 4rem;
    max-width: 100vw;
    padding-bottom: 7rem;
    overflow-x: hidden;
  }

  section.home .container {
    grid-template-columns: 1fr;
    grid-auto-rows: 20% 50%;
    text-align: center;
    row-gap: 6rem;
  }

  section.home .container .socials {
    display: none;
  }

  section.home .container .home-content {
    width: 90%;
    margin: 0 auto;
  }

  section.home .container .home-content h1 {
    text-align: center;
  }

  section.home .container .home-content p {
    margin: 0 auto;
    width: 92%;
  }

  section.home .container .profile-area {
    grid-row: 1;
    width: 94%;
    margin: 0 auto;
  }

  section.home .profile-area .outer-circle {
    width: 16rem;
    height: 16rem;
    border: 1px solid #000;
    animation: none;
  }

  section.home .profile-area .inner-circle {
    width: 12rem;
    height: 12rem;
  }

  section.home .container .outer-circle span {
    display: none;
  }

  section.home .profile-area .outer-circle span:nth-child(1) {
    display: none;
  }

  section.home .profile-area .outer-circle span:nth-child(2) {
    display: none;
  }

  section.home .profile-area .outer-circle span:nth-child(3) {
    display: none;
  }

  section.home .profile-area .outer-circle span:nth-child(4) {
    display: none;
  }

  /*About*/
  section.about .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
  }
  section.about .container .about-content {
    margin-top:30px;
  }

  section .about .container .image img {
    width: 26rem;
    height: 26rem;
    border-radius: 50rem;
  }




  
  /* Skill Section */
  .skills .container {
    display: flex;
    flex-direction: column;
  }
  .skills .container .skill-images{
    display: flex;
    flex-wrap: wrap;
    gap:3em;
  }

    .skills .skills-title{
      font-size: 1.2rem;
      margin-left: 15px;
    }
  /*projects*/
  section.projects .container .projects {
    grid-template-columns: 1fr;
  }

  section.projects .container .thumbnail img {
    border-radius: 1rem;
  }

  /*footer*/
  footer .container {
    flex-direction: column;
    text-align: center;
    gap: 1.4rem;
  }
}

@media screen and (max-width: 867px) {
  section.about .container {
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
  }
}

@media screen and (min-width: 685px) {
  section.skills .container .contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
