@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=The+Nautigal:wght@700&family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --transition: all 300ms ease;
}

.container {
  width: 80%;
  margin: 0 auto;
}

section {
  padding: 10rem 0 7rem;
  max-width: 100vw;
  overflow: hidden;
}

section h1 {
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

img {
  width: 100%;
}

.btn {
  padding: 1rem 1.5rem;
  font-size: 1.1rem;
  border-radius: 25px;
  color: #141415;
  background: #fff;
  display: inline-block;
  margin: 1.5rem 0;
  transition: var(--transition);
}

.btn:hover {
  background: #c4c4c4;
  color: #333;
}

.btn-primary {
  color: #fff;
  background: #000;
}

/*nav section*/

.navbar {
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 2;
  align-items: center;
  display: flex;
  justify-content: center;
  background: #fff;
  border-bottom: 1px solid #c4c4c4;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav h3 {
  color: #000;
  font-size: 40px;
  font-weight: 600;
  font-family: "The Nautigal", cursive;
}

.navbar .container .menu {
  display: flex;
  height: 100%;
}

.navbar .container .menu li a {
  color: #141415;
  height: 100%;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 15px;
  font-weight: 300;
  transition: color 0.3s ease;
}

.navbar .container .menu li a:hover {
  color: #000;
  text-decoration: underline;
}

#menubar {
  font-size: 1.5rem;
  color: #000;
  cursor: pointer;
  line-height: 80px;
  margin-right: 40px;
  display: none;
}


/*portfolio section*/
section.portfolio {
  background: #f4f4f4;
}

section.portfolio h1 {
  margin-bottom: 2rem;
}

section.portfolio h4 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 200;
}

section.portfolio .projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

section.portfolio .projects .project {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section.portfolio .projects .project .action a {
  color: #000;
}

section .portfolio .projects .project .action a:hover {
  text-decoration: underline;
}